@using Dialogue.Logic.Application
@using Dialogue.Logic.Models.ViewModels
@model ViewCategoryViewModel
@{
    Layout = "TwoCol.cshtml";
    ViewBag.Title = Html.Raw(Model.Category.PageTitle ?? Model.Category.Name);
    ViewBag.MetaDesc = Model.Category.MetaDesc ?? AppHelpers.StripHtmlFromString(Model.Category.Description);
    var totalCount = Convert.ToInt32(Model.TotalCount);
    ViewBag.Canonical = Html.Raw(AppHelpers.CanonicalPagingTag(totalCount, Html.Settings().TopicsPerPage, Html));

    var subScribe = string.Empty;
    var unSubscribe = string.Empty;
    const string displayNone = "style='display:none;'";
    if (Model.IsSubscribed)
    {
        subScribe = displayNone;
    }
    else
    {
        unSubscribe = displayNone;
    }
}

@section PageTitle {
    @ViewBag.Title
}

@section MetaDescription
{
    @ViewBag.MetaDesc
}

@section SocialMeta {
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:description" content="@ViewBag.MetaDesc" />
}
@*@Html.Action("GetCategoryBreadcrumb", "Category", new { category = Model.Category })*@
@*@if (Model.SubCategories != null)
{
    Html.RenderPartial("_SubCategories", new SubCategoryViewModel
        {
            AllPermissionSets = Model.SubCategories.AllPermissionSets,
            ParentCategory = Model.Category
        });
}*@
<div class="row categoryheader">

    <div class="col-md-8 col-sm-7 categoryheading">
        <h1>@Html.Raw(@Model.Category.Name)</h1>
    </div>
    <div class="col-md-4 col-sm-5 categoryrss">
        @if (Html.Settings().AllowRssFeeds)
        {
            <a title="@Html.Lang("Home.Rss")" href="@Urls.GenerateUrl(Urls.UrlType.CategoryRss)?id=@Model.Category.Id" class="rsssubscribe">@Html.Lang("Home.Rss")</a>
        }
        @if (Model.User != null && Html.Settings().AllowEmailSubscriptions)
        {
            <a @Html.Raw(subScribe) title="@Html.Lang("Category.SubscribeByEmail")" href="#" class="emailsubscription" rel="@Model.Category.Id">
                <span class="emailsubscriptionimage" rel="category">@Html.Lang("Category.Subscribe")</span>
            </a>
            <a @Html.Raw(unSubscribe) title="@Html.Lang("Category.UnSubscribeByEmail")" href="#" class="emailunsubscription" rel="@Model.Category.Id">
                <span class="emailunsubscriptionimage" rel="category">@Html.Lang("Category.UnSubscribe")</span>
            </a>
        }
    </div>

</div>

<p>@Html.Raw(AppHelpers.ConvertPostContent(Model.Category.Description))</p>
<div class="categorytopics">
    @if (Model.Topics.TotalCount > 0)
    {
        foreach (var topic in Model.Topics)
        {
            var viewModel = new ViewTopicViewModel { Permissions = Model.Permissions, Topic = topic, ShowCategoryName = false };
            Html.RenderPartial(Dialogue.Logic.PathHelper.GetThemePartialViewPath("TopicRow"), viewModel);
        }

        if (Model.Topics.TotalPages > 1)
        {
            @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().TopicsPerPage, totalCount, null)
        }
    }
    else
    {
        <p>@Html.Lang("Category.NoDiscussions")</p>
    }
</div>