@using Dialogue.Logic.Application
@model Dialogue.Logic.Models.ViewModels.PageChangePasswordViewModel
@{
    Layout = "OneColThin.cshtml";

}
@section PageTitle
{
    @Model.PageTitle
}

@using (Html.BeginForm("ChangePassword", "DialogueMemberSurface", FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordViewModel.OldPassword)
        @Html.PasswordFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ChangePasswordViewModel.OldPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordViewModel.NewPassword)
        @Html.PasswordFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ChangePasswordViewModel.NewPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordViewModel.ConfirmPassword)
        @Html.PasswordFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ChangePasswordViewModel.ConfirmPassword)
    </div>

    <div class="submit-holder">
        <input type="submit" value="@Html.Lang("Buttons.ChangePassword")" class="btn btn-success" />
    </div>
}
