@using Dialogue.Logic.Application
@using Dialogue.Logic.Application.ExtensionMethods
@model Dialogue.Logic.Models.MasterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@RenderSection("PageTitle", false)</title>
    <meta name="description" content="@RenderSection("MetaDescription", false)">
    @RenderSection("SocialMeta", false)
    @ViewBag.Canonical

    <link href="@Url.Content("~/app_plugins/dialogue/content/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/app_plugins/dialogue/content/scripts/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(string.Format("~/app_plugins/dialogue/themes/{0}/content/css/styles.css", Dialogue.Logic.Dialogue.Settings().Theme))" rel="stylesheet" type="text/css" />


    <!--[if lt IE 9]>
              <script src="@Url.Content("~/app_plugins/dialogue/content/scripts/html5shiv.js")"></script>
              <script src="@Url.Content("~/app_plugins/dialogue/content/scripts/respond.min.js")"></script>
    <![endif]-->

    @*
    *** IMPORTANT - The app_base must be present if you use your own master page or styling ***
    *@
     <script type="text/javascript">
        var app_base = '@Url.Content("~/")';
    </script>

    <script src="@Url.Content("~/app_plugins/dialogue/content/scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/app_plugins/dialogue/content/scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/app_plugins/dialogue/content/scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/app_plugins/dialogue/content/scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/app_plugins/dialogue/content/scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/app_plugins/dialogue/content/scripts/fancybox/jquery.fancybox.pack.js")"></script>
    <script src="@Url.Content("~/app_plugins/dialogue/content/scripts/general.js")"></script>


    @RenderSection("scripts", false)
    @RenderSection("Head", false)
</head>

<body>

    <header>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@Html.Settings().ForumRootUrl">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Lang("Layout.Nav.Utilities")<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (Html.Settings().AllowPoints)
                                {
                                    <li><a href="@Urls.GenerateUrl(Urls.UrlType.Leaderboard)">@Html.Lang("Layout.Nav.Leaderboard")</a></li>
                                }

                                <li><a href="@Urls.GenerateUrl(Urls.UrlType.Activity)">@Html.Lang("Layout.Nav.Activity")</a></li>
                                <li><a href="@Urls.GenerateUrl(Urls.UrlType.Badges)">@Html.Lang("Layout.Nav.Badges")</a></li>
                            </ul>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            if (Html.Settings().SuspendRegistration != true)
                            {
                                <li><a href="@Urls.GenerateUrl(Urls.UrlType.Register)">@Html.Lang("Layout.Nav.Register")</a></li>
                            }
                            <li><a href="@Urls.GenerateUrl(Urls.UrlType.Login)">@Html.Lang("Layout.Nav.Logon")</a></li>
                        }
                    </ul>

                    <form action="@Urls.GenerateUrl(Urls.UrlType.Search)" method="get" role="search" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" name="term" id="term" placeholder="@Html.Lang("Search.SearchPlaceholder")">
                        </div>
                        <button type="submit" class="btn btn-default">@Html.Lang("Buttons.Submit")</button>
                    </form>


                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Lang("Layout.Nav.MyAdmin")<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    @Html.Action("SideAdminPanel", "DialogueMemberSurface")
                                </ul>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </nav>

    </header>


    <section class="container maincontent">
        @Html.ThemedPartial("_GenericMessage")
        @Html.ThemedPartial("_EmailConfirmationNotice")
        @RenderBody()
    </section>

    <section class="container stats">
        <hr>
        <div class="row">
            <div class="col-md-6">
                @Html.Action("GetMainStats", "DialogueSurface")
            </div>
            <div class="col-md-6">
                @Html.Action("GetCurrentActiveMembers", "DialogueSurface")
            </div>
        </div>
    </section>

    <footer class="container">
        <hr>
        <p>&copy; Dialogue By <a href="http://www.aptitude.co.uk/what-we-do/website-design/" rel="nofollow">Aptitude - The Umbraco Agency</a> @DateTime.Now.Year</p>
    </footer>

</body>
</html>
