@model Dialogue.Logic.Models.ViewModels.ForgotPasswordViewModel
@using Dialogue.Logic.Application.ExtensionMethods
@using Dialogue.Logic.Controllers
@{
    
}

<h2>@Html.Lang("Misc.ForgotPassword")</h2>

@using (Html.BeginUmbracoForm<DialogueLoginRegisterSurfaceController>("ForgotPassword", FormMethod.Post, new { @class = "form", role = "form" }))
{            
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>

    <div class="submit-holder">
        <button type="submit" class="btn btn-default">
            @Html.Lang("Buttons.ForgotPassword")
        </button>
    </div>

}