
@using Dialogue.Logic.Models
@model Dialogue.Logic.Models.ViewModels.ActiveMembersViewModel

@if (Model.ActiveMembers.Any())
{
    <p class="activememberslistheading">@Html.Lang("Stats.FooterActiveUsersText")</p>
    <ul class="activememberslist">        
        @foreach (var member in Model.ActiveMembers)
        {
            <li>
                <a title="@Html.Raw(member.UserName)" href="@member.Url">
                    <img src="@member.MemberImage(DialogueConfiguration.Instance.GravatarLeaderboardSize)" alt="@Html.Raw(member.UserName)" />
                </a>
            </li>
        }
    </ul>

}