@using Dialogue.Logic.Application.ExtensionMethods
@using Dialogue.Logic.Application
@using Dialogue.Logic.Models.ViewModels
@model ActiveTopicsViewModel
@{
    Layout = null;
    var totalCount = Convert.ToInt32(Model.TotalCount);
    ViewBag.Canonical = Html.Raw(AppHelpers.CanonicalPagingTag(totalCount, Html.Settings().TopicsPerPage, Html));
}

<div class="row latesttopicsheader">

    <div class="col-xs-8 latesttopicheading">
        <h2>@Html.Lang("Home.LatestDiscussions")</h2>
    </div>
    <div class="col-xs-4 latesttopicrss">
        @if (Html.Settings().AllowRssFeeds)
        {
            @*@Url.Action("LatestRss", "Home")*@
            <a href="@Urls.GenerateUrl(Urls.UrlType.TopicsRss)" class="rsssubscribe" title="@Html.Lang("Home.Rss")">@Html.Lang("Home.Rss")</a>
        }
    </div>
</div>

@if (Model.Topics.TotalCount > 0)
{
    foreach (var topic in Model.Topics)
    {
        // Get the permissions for this topic via its parent category
        var permissions = Model.AllPermissionSets[topic.Category];

        var viewModel = new ViewTopicViewModel { Permissions = permissions, Topic = topic, User = Model.User, ShowCategoryName = true };
        Html.RenderPartial(Dialogue.Logic.PathHelper.GetThemePartialViewPath("TopicRow"), viewModel);
    }

    if (Model.Topics.TotalPages > 1)
    {
        @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().TopicsPerPage, totalCount, null)
    }
}
else
{
    <p>@Html.Lang("Home.NoLatestDiscussions")</p>
}