@using Dialogue.Logic.Application
@model Dialogue.Logic.Models.ViewModels.ViewAdminSidePanelViewModel
@{
    var logOutUrl = string.Format("{0}?{1}={1}", Dialogue.Logic.Dialogue.Settings().ForumRootUrl, AppConstants.LogOut);
}

<li>
    <a href="@Urls.GenerateUrl(Urls.UrlType.EditMember)?id=@Model.CurrentUser.Id">@Html.Lang("Buttons.Edit") @Model.CurrentUser.UserName</a>
</li>
<li class="divider"></li>
@if (Html.Settings().AllowPrivateMessages && Model.CurrentUser != null && Model.CurrentUser.DisablePrivateMessages != true)
{
    <li>
        <a href="@Urls.GenerateUrl(Urls.UrlType.MessageInbox)">
            @Html.Lang("PM.PrivateMessages")
            @if (Model.NewPrivateMessageCount > 0)
            {
                <span class="badge">@Model.NewPrivateMessageCount</span>
            }
        </a>
    </li>
}

<li><a href="@Urls.GenerateUrl(Urls.UrlType.Favourites)">@Html.Lang("Members.Favourites")</a></li>
@if (User.IsInRole(AppConstants.AdminRoleName))
{
    <li><a href="@Urls.GenerateUrl(Urls.UrlType.SpamOverview)">@Html.Lang("Members.SpamOverview")</a></li>
    <li><a href="@Urls.GenerateUrl(Urls.UrlType.Authorise)">@Html.Lang("Members.Authorise")</a></li>
}
<li><a href="@logOutUrl">@Html.Lang("Members.LogOff")</a></li>
