@model Dialogue.Logic.Models.ViewModels.ResetPasswordViewModel
@using Dialogue.Logic.Application.ExtensionMethods
@using Dialogue.Logic.Controllers

@using (Html.BeginUmbracoForm<DialogueLoginRegisterSurfaceController>("HandleResetPassword", FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reset your Password</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" }))
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" }))
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" }))
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Reset Password" />
        </p>
    </fieldset>
}